html, body{
    height: 100vh;
}

.w-hierarchy{
    width: 20rem;
}

.h-hierarchy{
    height: 63.5vh;
}

.w-viewport{
    width: 58.3vw;
}

/* .h-viewport{
    height: 20vh;
} */

.w-properties{
    width: 20rem;
}

/* .h-properties{
    height: 40vh;
} */

.right-buttons{
    position: relative;
    left: -11.9rem
}

.h-project-explorer{
    height: 24.68vh;
    display: flex;
    flex-direction: column;
}

.h-explorer-window{
  height: 8rem;  
}

.w-explorer-window{
    width: 85.5vw;
}

.toolbar-padding{
    padding: 10px 0
}