.w-hierarchy{
    width: 20rem;
}

.h-hierarchy{
    height: 29.5rem;
}

.w-viewport{
    width: 56rem;
}

.h-viewport{
    height: 31.5rem;
}

.w-properties{
    width: 20rem;
}

.h-properties{
    height: 31.5rem;
}

